version: '3.6'
services:
  iris:
    container_name: columnar-native
    image: intersystemsdc/iris-community
    restart: no
    command: -a /home/irisowner/dev/ascript.sh  
    ports: 
      - 41773:1972
      - 42773:52773
    volumes:
      - ./:/home/irisowner/dev

